.toggleBtn {
  background: transparent !important;
  border: none;
  cursor: pointer;
  font-size: 25px;
  color: #5a7b5b !important;
  
  margin-left: -18%;
  transition: color 0.3s ease;
}

.toggleBtn:hover {
  color: #4a654b;
}
